/* ------ Global styles ------- */
body {
    background-color: black;
    width: 90%;
    margin: auto;
    color: white;
    font-size: 26px;
    font-family:Arial, Helvetica, sans-serif;
}

h2 {
    text-decoration: underline;
}




/* ------- Styles for the grid relating to projects and skills -------*/
.section-grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 80px;
    margin-top: 50px;
    margin-bottom: 50px;
}


/* ------- Styles related to the slideshow ------ */
#slideshow-container {
    height: 100%;
    width: 100%;
    position: relative;
}

.slideshow-pane {
    display: none;
    padding: 20px;
    border: 1px solid white;
}

.slideshow-pane ul, .slideshow-pane h3 {
    color: green;
    font-size: 40px;
    text-align: center;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 70%;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 50px;
    transition: 0.6s ease;
    user-select: none;              /* disables double click selecting */
}

.next {
    right: 0;
}

.prev:hover, .next:hover {
    background-color: rgba(230, 19, 89, 0.918);
}


.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }



/* ------ Styles related to the 3 main section - about, info, contact -------- */
.section {
    border-radius: 30px;
    padding: 55px;
    margin: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    border: 2px solid blue;
    box-shadow: 0 0 20px blue;
}

.section:hover {
    scale: 102%;
}




/* ------ Styles relating to specific parts  ------ */
#compsci, #teaching {
    margin-bottom: 20px;
}

#flex-align {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#zoo p, #compsci p, #teaching p, #retail p {
    margin: 0;
}

#skills ul:first-of-type {
    margin-bottom: 100px;
}




/* ------ Styles related to the contact me section -------*/
#contact #flex-align {
    justify-content: space-evenly;
}

#contact a {
    color: green;
}

#contact a:hover {
    color: lightgoldenrodyellow;
    font-size: 35px;
}

#contact p {
    font-size: 30px;
}