/* ------ Global styles ------- */
body {
    background-color: black;
    width: 80%;
    margin: auto;
    color: white;
    font-size: 26px;
    font-family:Arial, Helvetica, sans-serif;
}

h2 {
    text-decoration: underline;
}

a {
    color: green;
}



/* ------- Styles for the grid relating to projects and skills -------*/
.section-grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 80px;
    margin-top: 50px;
    margin-bottom: 50px;
}


/* ------- Styles related to the slideshow ------ */
#slideshow-container {
    height: 100%;
    width: 100%;
    position: relative;
}

/* for each panel fo the slideshow */
.slideshow-pane {
    display: none;
    padding: 20px;
    /*border: 1px solid white; */    /* temp addition to help with spacing etc */
}

.slideshow-pane ul, .slideshow-pane h3 {
    color: blue;
    font-size: 40px;
    text-align: center;
}

/* the buttons used to scroll through the slideshow */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 70%;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 50px;
    user-select: none;              /* disables double click selecting */
}

/* put the right/next arrow all the way to the right of the parent container */
.next {
    right: 0;
}

.prev:hover, .next:hover {
    background-color: rgba(230, 19, 89, 0.918);
}

.slideshow-pane a:hover {
    color: lightgoldenrodyellow;
    font-size: 50px;
}


/* ------ Styles related to the 3 main section - about, info, contact -------- */
.section {
    border-radius: 30px;
    padding: 55px;
    margin: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    border: 2px solid blue;
    box-shadow: 0 0 20px blue;
}

.section:hover {
    scale: 102%;
}




/* ------ Styles relating to specific parts  ------ */
#compsci, #zoo, #retail, #teaching {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#flex-align {
    display: flex;
    justify-content: space-between;
    width: 50%;
    flex-wrap: wrap;
}


#zoo p, #compsci p, #teaching p, #retail p {
    margin: 0;
}

#skills ul:first-of-type {
    margin-bottom: 100px;
}




/* ------ Styles related to the contact me section -------*/
#contact #flex-align {
    justify-content: space-evenly;
}

#contact p {
    font-size: 30px;
}

#contact a:hover {
    color: lightgoldenrodyellow;
    font-size: 40px;
}